[config]
schemaVersion = "0.24.0"

[package]
namespace = "deB"
name = "WILDCARD_REPO"
versionNumber = "0.24.0"
description = "Adds content based on YouTube org WILDCARD!"
websiteUrl = "https://github.com/TheDebbyCase/REPOWildCardMod"
containsNsfwContent = false
[package.dependencies]
BepInEx-BepInExPack = "5.4.2304"
Zehs-REPOLib = "3.0.0"
DaXcess-FixPluginTypesSerialization = "1.1.0"

[build]
icon = "./icon.png"
readme = "./README.md"
outdir = "."

[[build.copy]]
source = "./REPOWildCardMod/Builds/netstandard2.1/REPOWildCardMod.dll"
target = "BepInEx/plugins/WildCardMod/REPOWildCardMod.dll"

[[build.copy]]
source = "./REPOWildCardMod/Builds/wildcardmod"
target = "BepInEx/plugins/WildCardMod/wildcardmod"

[[build.copy]]
source = "./CHANGELOG.md"
target = "./CHANGELOG.md"

[[build.copy]]
source = "./LICENSE"
target = "./LICENSE"

[publish]
communities = ["repo"]
[publish.categories]
repo = ["mods", "items", "valuables", "audio", "weapons", "upgrades", "serverside", "clientside"]


